.navbar-nav .nav-item a{color:black;}
.navbar-nav active a{background:#f26522;margin-right: 10px;}
.navbar-nav li:hover a{background:#f26522;}
.navbar ul li a{margin-right: 10px;}
.sidenav { }
 ul{list-style: none;}
.sidenav li { position: relative; font-weight: 600; margin-bottom: 10px; }
.sidenav li a { padding: 20px; display: block; border: 1px solid #e3e7e8; line-height: 14px; color: ##5a5e5f; font-size: 16px; font-weight: 400; border-radius: 2px; text-decoration: none;}
.sidenav li a:hover { color: #fff; background-color: #13a0b2; border: 1px solid #13a0b2; }
.sidenav li.active a { color: #fff; background-color: #13a0b2; border: 1px solid #13a0b2; }
.sidenav li.active a:before { color: #13a0b2; }
.service-sidenav-icon { font-size: 16px; float: right; }
font-courses{margin-top: 20%;}
.footer{margin-top: 50px;}
.footer{background: #333333; padding:20px 0px;}
.footer{color:#fff;}
.footer h3{margin-top: 20px;}
.footer p{color: #fff;margin-top: 10px;margin-bottom: 10px;}
.footer ul{list-style: none;margin:0;padding: 0;}
.footer ul li a{color:#fff;}
.btn-warning{margin-left: 10px;}
